.slider-box {
  overflow: hidden;
}
.slider-word {
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  opacity: 0;
}
.active {
  position: relative;
  width: 160px;
  opacity: 1;
  top: 0px;
  height: 20px;
  overflow: hidden;

  animation-name: slides;
  animation-duration: 3s;
  animation-iteration-count: 1;
  z-index: 1;
}

@keyframes slides {
  0% {
    top: -20px;
    opacity: 0;
  }
  30% {
    top: 0px;
    opacity: 1;
  }
  70% {
    top: 0px;
    opacity: 1;
  }
  100% {
    top: 10px;
    opacity: 0;
  }
}
