@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@300;400;500;600;700;800&family=Raleway:ital,wght@0,400;0,500;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  font-family: "Inter", sans-serif;
  color: white;
  background-color: black;
  margin: 0;
  padding: 0;
  background-image: url("assets/asset-1.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
  height: 100vh;
  position: relative;
}
body .container {
  max-width: 100%;
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.9);
}

.container::before {
  content: "";
  background-image: url("assets/asset-1.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: blur(10px);
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
  z-index: -1;
}
.menu-center {
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}
